* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  .boton{
    text-decoration: none;
    padding: 5px;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #ff8a8a;
  }

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #0c0568;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* respaldo para navegadores antiguos */
    background: -webkit-linear-gradient(to right, hsla(234, 95%, 50%, 0.13), hsla(317, 45%, 52%, 0.664)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(221, 95%, 50%, 0.459), hsla(221, 45%, 52%, 0.267)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:rgb(255, 255, 255);
    font-weight: 300;
    text-decoration:hsla(317, 45%, 52%, 0.664);
    margin-right: 10px;
    font-size: 20px;
    
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;


}
.item{
  text-align:center;


}

.textos-header h1{
    font-size: 70px;
    color:rgb(15, 0, 83);
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:rgb(0, 0, 0);
}
.textos-header p{
    color: hsl(0, 0%, 13%);
    font-size: 40px;
   
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Sobre nosotros */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #2e31f1;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(72, 105, 250, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Clientes */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d5deb;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Nuestro equipo */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}
/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #202cd3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: rgb(245, 245, 245);
}

.container-servicio{
    width: 100%;
    height: 800px;
    max-width: 1000px; /*ancho del cuadrito*/
    padding: 100px; /*texto*/
    background: rgb(243, 240, 240);
    margin-top: 100px;
    border-top: 6px solid #7665d6;
}

.title{
    font-size: 40px;
    margin-bottom: 60px;
    }

.sub-title{
    font-size: 30px;
    font-weight: 400;
}

.container-servicio img{
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.container-servicio p{
    font-size: 18px;
    font-weight: 200;
    margin-top: 20px;
    text-align: right;
}
.container-servicio ul{
    float: right;
}
.container-servicio li{
text-align:initial;
    font-size: 18px;
 
}
@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}
/* contenedor de historia*/
.contenedor-historia{
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 50px;
    background: rgb(245, 244, 244);
}
.contenedor-historia p{
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;
    text-align: justify;
}
/* carrusel */
.Carousel{
    width: 100%;
    margin: 5px 0px;
}
.Carousel h2{
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
}
.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .85;
}

/* buttons */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}

/* diseño de cotiza */

.container-cotiza{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background: rgb(234, 230, 235);
    margin-top: 100px;
    border-top: 6px solid #001aff;
}

.title{
    font-size: 30px;
    margin-bottom: 60px;
}

.sub-titulo{
    font-size: 30px;
    font-weight: 400;
}

.container-cotiza img{
    width: 600px;
    float:initial;
    margin-right: 60px;
    margin-bottom: 60px;
}

.container-cotiza p{
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}
/*div de cosa en cotiza*/
.cosa{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background: #f6f6f6;
}
.titulo{
    font-size: 40px;
    margin-bottom: 60px;
}
.cosa p{
    font-size: 23px;
    font-weight: 300;
    margin-top: 20px;
}
/*Footer*/
#footer{
    padding: 5em 0 6em 20 ;
    background-color: rgb(248, 246, 246);
}
#footer > .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
#footer > .inner > * > :last-child {
    margin-bottom: 0;
}

#footer > .inner section:nth-child(1) {
    width: calc(66% - 2.5em);
    margin-right: 2.5em;
}

#footer > .inner section:nth-child(2) {
    width: calc(33% - 2.5em);
    margin-left: 2.5em;
}

#footer > .inner .copyright {
    width: 100%;
    padding: 0;
    margin-top: 5em;
    list-style: none;
    font-size: 0.8em;
    color: rgba(88, 88, 88, 0.5);
}

    #footer > .inner .copyright a {
        color: inherit;
    }

    #footer > .inner .copyright li {
        display: inline-block;
        border-left: solid 1px rgba(88, 88, 88, 0.15);
        line-height: 1;
        padding: 0 0 0 1em;
        margin: 0 0 0 1em;
    }

        #footer > .inner .copyright li:first-child {
            border-left: 0;
            padding-left: 0;
            margin-left: 0;
        }

@media screen and (max-width: 1280px) {

#footer {
    padding: 5em 0 3em 0 ;
}

    #footer > .inner section:nth-child(1) {
        width: calc(66% - 1.25em);
        margin-right: 1.25em;
    }

    #footer > .inner section:nth-child(2) {
        width: calc(33% - 1.25em);
        margin-left: 1.25em;
    }

}

@media screen and (max-width: 980px) {

#footer > .inner section:nth-child(1) {
    width: 66%;
    margin-right: 0;
}

#footer > .inner section:nth-child(2) {
    width: calc(33% - 2.5em);
    margin-left: 2.5em;
}

}

@media screen and (max-width: 736px) {

#footer {
    padding: 3em 0 1em 0 ;
}

    #footer > .inner {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

        #footer > .inner section:nth-child(1) {
            width: 100%;
            margin-right: 0;
            margin: 3em 0 0 0;
        }

        #footer > .inner section:nth-child(2) {
            -moz-order: -1;
            -webkit-order: -1;
            -ms-order: -1;
            order: -1;
            width: 100%;
            margin-left: 0;
        }

        #footer > .inner .copyright {
            margin-top: 3em;
        }

}

@media screen and (max-width: 480px) {

#footer > .inner .copyright {
    margin-top: 3em;
}

    #footer > .inner .copyright li {
        border-left: 0;
        padding-left: 0;
        margin: 0.75em 0 0 0;
        display: block;
        line-height: inherit;
    }

        #footer > .inner .copyright li:first-child {
            margin-top: 0;
        }

}
/*final de footer*/
ul.redes {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin: -1em 0 2em -1em;
}

    ul.redes li {
        display: inline-block;
        padding: 1em 0 0 1em;
    }
/*form*/    
    form {
		margin: 0 0 2em 0;
		overflow-x: hidden;
	}

		form > :last-child {
			margin-bottom: 0;
		}

		form > .fields {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			width: calc(100% + 3em);
			margin: -1.5em 0 2em -1.5em;
		}

			form > .fields > .field {
				-moz-flex-grow: 0;
				-webkit-flex-grow: 0;
				-ms-flex-grow: 0;
				flex-grow: 0;
				-moz-flex-shrink: 0;
				-webkit-flex-shrink: 0;
				-ms-flex-shrink: 0;
				flex-shrink: 0;
				padding: 1.5em 0 0 1.5em;
				width: calc(100% - 1.5em);
			}

				form > .fields > .field.half {
					width: calc(50% - 0.75em);
				}

				form > .fields > .field.third {
					width: calc(100%/3 - 0.5em);
				}

				form > .fields > .field.quarter {
					width: calc(25% - 0.375em);
				}

		@media screen and (max-width: 480px) {

			form > .fields {
				width: calc(100% + 3em);
				margin: -1.5em 0 2em -1.5em;
			}

				form > .fields > .field {
					padding: 1.5em 0 0 1.5em;
					width: calc(100% - 1.5em);
				}

					form > .fields > .field.half {
						width: calc(100% - 1.5em);
					}

					form > .fields > .field.third {
						width: calc(100% - 1.5em);
					}

					form > .fields > .field.quarter {
						width: calc(100% - 1.5em);
					}

		}
/*final form*/
/* label, input y textarea */
label {
    display: block;
    font-size: 0.9em;
    font-weight: 900;
    margin: 0 0 1em 0;
}

input[type="name"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #c9c9c9;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
}

    input[type="name"]:invalid,
    input[type="password"]:invalid,
    input[type="email"]:invalid,
    input[type="tel"]:invalid,
    select:invalid,
    textarea:invalid {
        box-shadow: none;
    }

    input[type="name"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    select:focus,
    textarea:focus {
        border-bottom-color: #f2849e;
        box-shadow: inset 0 -1px 0 0 #f2849e;
    }

select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23c9c9c9' /%3E%3C/svg%3E");
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    height: 3em;
    padding-right: 3em;
    text-overflow: ellipsis;
}

    select option {
        background: #ffffff;
    }

    select:focus::-ms-value {
        background-color: transparent;
    }

    select::-ms-expand {
        display: none;
    }

input[type="name"],
input[type="password"],
input[type="email"],
select {
    height: 3em;
}

textarea {
    padding: 0;
    min-height: 3.75em;
}
input[type="submit"]{
    position: relative;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-left: 1px;
    background-color: darkgray;
    font:14px normal normal uppercase arial;
}
input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

    input[type="checkbox"] + label,
    input[type="radio"] + label {
        text-decoration: none;
        color: #585858;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        font-weight: 300;
        padding-left: 2.55em;
        padding-right: 0.75em;
        position: relative;
    }

        input[type="checkbox"] + label:before,
        input[type="radio"] + label:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            text-transform: none !important;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
        }

        input[type="checkbox"] + label:before,
        input[type="radio"] + label:before {
            border-radius: 4px;
            border: solid 1px #c9c9c9;
            content: '';
            display: inline-block;
            font-size: 0.8em;
            height: 2.25em;
            left: 0;
            line-height: 2.25em;
            position: absolute;
            text-align: center;
            top: 0;
            width: 2.25em;
        }

    input[type="checkbox"]:checked + label:before,
    input[type="radio"]:checked + label:before {
        background: #585858;
        border-color: #585858;
        color: #ffffff;
        content: '\f00c';
    }

    input[type="checkbox"]:focus + label:before,
    input[type="radio"]:focus + label:before {
        border-color: #f2849e;
        box-shadow: 0 0 0 1px #f2849e;
    }

input[type="checkbox"] + label:before {
    border-radius: 4px;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}
/*final de eso*/
